{% extends '::baseDashboard.html.twig' %}

 {% block stylesheets %}
   {{ parent() }}
    <link href="{{ asset('sources/css/DashboardContent.css') }}" rel="stylesheet">
    <link href="{{ asset('sources/css/Forms.css') }}" rel="stylesheet">
    <style>
    .qhead{padding:10px;font-size:13px;}
    .questions{width:90%;border:solid 1px #c2c2c2;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:10px;
    -moz-box-shadow:2px 2px 0 #c2c2c2;
    -webkit-box-shadow:2px 2px 0 #c2c2c2;
    box-shadow:2px 2px 0 #c2c2c2;
    font-family:"Nunito-Regular","Arial";}
    #contentCenter{margin:0;font-family:"Nunito-Regular","Arial";}
    </style>
  {% endblock %}


{% block body %}          
            <div id="contentCenter">
                {% for flashMessage in app.session.flashbag.get('update') %}
                  <div class="flash-notice" style="padding: 10px;margin: 5px;margin-top: 15px;background-color: #ffe;">{{ flashMessage }}</div>
                {% endfor %}
              <div style="margin:30px 0;">
              <a  href="{{ path('lecturer_student_quiz_submission_list', {'classID': app.session.get('classroomActive'), 'quizID': submission.quiz.quizID }) }}" class="btnback">Back to Submission List</a></div>
              <div class="panelTitleContainer"  style="margin-bottom:10px;"> 
                 <div class="panelTitle">Quiz Title : {{submission.quiz.quizTitle}} <br/>
                  Submitted By: {{submission.user.profileID.firstName}} {{submission.user.profileID.lastName}}
              </div>
              </div>
              {% for answer in answers %}
               <div class="qhead">Question {{ loop.index }} : 
                <p align="justify">{{ answer.question.questionText }}</p></div>
                <div class="questions"><span style="font-size:13px;"> Answer:</span> {{answer.answerText}}</div>
              {% endfor %}                
            </div>
              
{% endblock %}

{% block js %}
  {{ parent() }}
  <script src="{{ asset('bundles/cloudpodclassroom/js/QuizForm.js') }}" type="text/javascript"/></script>
{% endblock %}
